@page {
  prince-shrink-to-fit: auto;
  size: A4;
  margin: 40pt 40pt 40pt 150pt;

  @bottom-right {
    content: counter(page);
    vertical-align: top;
    padding-top: 1em;
    font-size: 8pt;
  }

  @top-right {
    content: string(title, first-except);
    font-style: italic;
  }
}

article > header h1 {
  prince-bookmark-level: 1
}

article > section > h1 {
  prince-bookmark-level: 2
}

article > section > section > h1 {
  prince-bookmark-level: 3
}

article > section > section > section > h1 {
  prince-bookmark-level: 4
}

article > section > section > section > section > h1 {
  prince-bookmark-level: 5
}

article > section > section > section > section > section > h1 {
  prince-bookmark-level: 6
}

html {
  font-size: 10pt;
  /*width: 210mm;*/
  /*margin: 20pt 40pt 40pt 150pt;*/
}

body {
  font-size: 10pt !important;
  font-family: "Georgia", serif;
  background: none;
  line-height: 1.1;
  -webkit-print-color-adjust: exact;
  prince-linebreak-magic: auto;
  prince-image-resolution: 600dpi;
  prince-image-magic: jpeq-quality(90);
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  hyphens: auto;
}

section p:not(:first-of-type) {
  text-indent: 1em;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-after: avoid;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #222;
}

article > header {
  font-family: "Helvetica Neue", sans-serif;
}

article > header > div > h1 {
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1;
  string-set: title content();
}

article > section > h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1em;
  background: inherit;
  line-height: 1;
}

article > section > section > h1 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.25em;
}

p {
  orphans: 3;
  widows: 3;
}

a {
  text-decoration: none;
  color: inherit;
}

a[href]:after {
  content: none !important;
}

sup, sub {
  line-height: 0;
}

[position="float"] {
  clear: none;
}

.figure-group {
  text-align: center;
}

figure {
  max-width: 100%;
  margin: 1em 0;
  page-break-inside: avoid;
  float: top unless-fit;
}

figure > img {
  max-height: 300pt;
  max-width: 100%;
  prince-image-resolution: normal;
}

figcaption {
  text-align: left;
  padding: 1em 0;
  font-size: 90%;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

caption {
  background: #eef;
  border-top: 2px solid #ddf;
  padding: 10px;
  font-size: 90%;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

table {
  border-collapse: collapse;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 80%;
  max-width: 100%;
  margin-top: 10pt;
}

figure[data-size-fraction="2"] table {
  margin-left: -110pt !important;
}

tbody tr:first-of-type td {
  border-top: 2px solid #000;
}

tbody tr:first-of-type td {
  border-bottom: 1px solid #000;
}

tbody tr:last-of-type td {
  border-top: 1px solid #000;
}

tbody tr:last-of-type td {
  border-bottom: 1px solid #000;
}

td, th {
  padding: 2px 5px;
}

table {
  page-break-inside: auto;
  page-break-after: auto
}

tr {
  page-break-inside: avoid;
  page-break-after: auto
}

td {
  page-break-inside: avoid;
  page-break-after: auto
}

thead {
  display: table-header-group
}

tfoot {
  display: table-footer-group
}

.csl-bib-body {
  font-size: 90%;
}

.csl-entry {
  padding-left: 0;
  margin-bottom: 5pt;
}

.label {
  vertical-align: super;
  font-size: smaller;
  color: #00a6fc;
}

.abstract {
  background: #f6f6f6;
  padding: 0 0 1em 0;
  margin: 2em 0;
}

.abstract h1 {
  background: #777;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 100%;
}

.abstract p {
  padding: 0 1em;
}

.authors {
  margin-top: 1em;
  margin-bottom: 1em;
}

.contrib-group > span:not(:last-of-type):after {
  content: ", "
}

.affiliations-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

